
.headerContainer{
    max-width: 1400px;
    margin: 0 auto;
    background-color: slategray;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100vw;
    padding: 0 90px;
    height: 50px;

    .logo {
        font-size: 2rem;
        
        & span{
            color: lightcyan;
        }

        .title {
            color: white;

        }


    }

    & form{

        display: flex;
        align-items: center;
        background-color: aliceblue;
        padding:8px 12px;
        border-radius: 6px;
        & input {
            width: 300px;
            border: none;
            height: 30px;
            background-color: transparent;
            outline: none;
            font-size: 1rem;
            color: gray;
        }

        & svg{
            cursor: pointer;
            color: cadetblue;
        }

    }

    .links{

        & ul{
        display: flex;
        gap: 30px;
        font-size: 1rem;
         & li{
            color: white;

            &:hover{
                opacity: .9;
                border-bottom: 2px solid black;
            }
         }
        }

    }
}